<main>
  <div class="header">
    <h2>Events</h2>
  </div>
  <div *ngIf="events && events.length === 0">
    <p>There are no events scheduled at this time. Please check back later.</p>
  </div>
  <div *ngFor="let event of events" class="event-listings">
    <div class="inidivual-event">
      event:
      <h2>{{ event.title }}</h2>
      date:
      <p>{{ event.date }}</p>
      time:
      <p>{{ event.time }}</p>

      location:
      <p>{{ event.location }}</p>
      description:
      <p id="description">{{ event.description }}</p>
      <div *ngIf="event.moreInfoLink !== ''">
        more info:
        <p>
          <a href="{{ event.moreInfoLink }}" target="_blank">{{
            event.moreInfoLink
          }}</a>
        </p>
      </div>
    </div>
  </div>
</main>
