<main>
  <div class="title-ele">
    <h2>New</h2>
  </div>
  <div class="book-card-container">
    <div *ngFor="let book of newBooks">
      <div class="book-card">
        <ul>
          <li>
            <div class="book-card">
              <a href="{{ book.buyUrl }}" target="none"
                ><img
                  src="{{ book.coverImageUrl }}"
                  alt="cover image of book dynamically generated"
              /></a>
              <div class="overlay">
                <p>{{ book.title }}</p>
                <div *ngFor="let author of authors">
                  <ng-container *ngIf="book.authorId === author.id">
                    <p>by {{ author.firstName }} {{ author.lastName }}</p>
                  </ng-container>
                </div>
                <button mat-stroked-button>-more info-</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
