.book-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  min-width: 100%;
}

.book-card ul {
  flex-shrink: 0;
}

.book-card img {
  min-width: 20%;
  flex-shrink: 0;
}
