main {
  margin-top: 3rem;
}

.button-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.button {
  background-color: white;
  color: black;
  padding: 14px 20px;
  border: 1px solid black;
  cursor: pointer;
  width: 60%;
  border-radius: 5px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
}

.button-container {
  display: flex;
  justify-content: start;
  margin: 3rem;
}
