<main>
  <article class="book-description">
    <div class="text-container">
      <p>We encourage you to make a tax-deductible gift to Flood Editions.</p>
      <p>
        Please consider becoming a sustainer by making an ongoing monthly
        contribution.
      </p>
      <p>
        Your generous donation will go directly toward the publication of future
        books.
      </p>
      <p>
        If you would like more information, contact our development director:
      </p>
      <p>
        <a href="mailto:andrea@floodeditions.com"
          >andrea&#64;floodeditions.com</a
        >.
      </p>

      <div class="button-container">
        <a
          href="https://www.networkforgood.org/donation/ExpressDonation.aspx?ORGID2=364415324"
          target="_blank"
          title="donate now!"
        >
          <button mat-stroked-button>
            <mat-icon>attach_money</mat-icon>
            <span>donate</span>
          </button>
        </a>
      </div>
    </div>
  </article>
</main>
