<main>
  <div>
    <h2>About</h2>
  </div>
  <article>
    <p>
      Founded in 2001, Flood Editions is a nonprofit, independent publisher
      based in Chicago, Illinois.
    </p>
    <p>
      Each year we publish four volumes of innovative poetry, short prose, and
      art from the United States and abroad, including under-recognized work
      from Australia and Britain.
    </p>
    <p>
      Though our primary focus remains current poetry, we also publish reissues
      of lost modernist classics.
    </p>
    <p>
      In this manner, we hope to create a broad historical and geographical
      understanding of recent poetry, finding new paths to the present.
    </p>
    <p>Flood Editions is a 501(c)3 nonprofit organization.</p>
    <p>We encourage you to support our publishing efforts through donations.</p>
    <p>
      Our books have been made possible in part through grants from the Chauncey
      and Marion D. McCormick Family Foundation, the Elizabeth Firestone Graham
      Foundation, Illinois Arts Council, the Poetry Foundation, the Tanne
      Foundation, and individual contributors.
    </p>
    <p>
      Direct any questions to the editors, Michael O’Leary and Devin Johnston:
    </p>

    <div itemscope itemtype="http://schema.org/Organization">
      <p itemprop="name" id="flood-editions-address-name">Flood Editions</p>
      <p
        itemprop="address"
        itemscope
        itemtype="http://schema.org/PostalAddress"
      >
        <span itemprop="streetAddress">1758 W. Winnemac Avenue</span>
        <br />
        <span itemprop="addressLocality">Chicago</span>,
        <span itemprop="addressRegion">IL</span><br />
        <span itemprop="postalCode">60640-2743</span>
      </p>
      <p>
        <a href="mailto:DEV@FLOODEDITIONS.COM" itemprop="email"
          >DEV&#64;FLOODEDITIONS.COM</a
        >
      </p>
    </div>

    <div itemscope itemtype="http://schema.org/Person">
      <p>
        <span itemprop="jobTitle">Design Director:</span>

        <span itemprop="name">Jeff Clark</span>
      </p>
      <p>
        For more information on his design and composition, see:
        <a href="https://BYCRISIS.COM" target="_blank">BYCRISIS.COM</a>
      </p>
    </div>
  </article>
</main>
