<main>
  <div>
    <h2>About</h2>
  </div>
  <article>
    Founded in 2001, Flood Editions is a nonprofit, independent publisher based
    in Chicago, Illinois. Each year we publish four volumes of innovative
    poetry, short prose, and art from the United States and abroad, including
    under-recognized work from Australia and Britain. Though our primary focus
    remains current poetry, we also publish reissues of lost modernist classics.
    In this manner, we hope to create a broad historical and geographical
    understanding of recent poetry, finding new paths to the present. Flood
    Editions is a 501(c)3 nonprofit organization. We encourage you to support
    our publishing efforts through donations. Our books have been made possible
    in part through grants from the Chauncey and Marion D. McCormick Family
    Foundation, the Elizabeth Firestone Graham Foundation, Illinois Arts
    Council, the Poetry Foundation, the Tanne Foundation, and individual
    contributors. Direct any questions to the editors, Michael O’Leary and Devin
    Johnston: Flood Editions 1758 W. Winnemac Avenue Chicago, IL 60640-2743
    DEV&#64;FLOODEDITIONS.COM Jeff Clark serves as design director for Flood
    Editions. For more information on his design and composition, see:
    BYCRISIS.COM
  </article>
</main>
