<main>
  <div class="title-ele">
    <h2>{{ title }}</h2>
  </div>
  <div class="book-card-container">
    <div *ngFor="let book of booksByTitle">
      <div class="book-card">
        <ul>
          <li>
            <div class="book-card">
              <img
                src="{{ book.coverImageUrl }}"
                alt="cover image of book dynamically generated"
              />
              <div class="overlay">
                <p>by {{ authorFirstName }} {{ authorLastName }}</p>
                <p>{{ book.description }}</p>
                <p>{{ book.isbn }}</p>
                <p>${{ book.price }}</p>
                <button mat-stroked-button>purchase</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- <div class="overlay">
        <p>{{ book.authorId }}</p>
        <p>{{ book.description }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.price }}</p>
        <a href="{{ book.buyUrl }}" target="none"
          ><button mat-stroked-button>purchase</button></a
        >
      </div> -->
    </div>
  </div>
</main>
