<main>
  <div class="title-ele">
    <h2>{{ title }}</h2>
  </div>
  <div class="book-card-container">
    <div *ngFor="let book of booksByTitle">
      <div class="book-card">
        <ul>
          <li>
            <div class="book-card">
              <img
                src="{{ book.coverImageUrl }}"
                alt="cover image of book dynamically generated"
              />
              <div class="overlay">
                <p>by {{ authorFirstName }} {{ authorLastName }}</p>
                <p>{{ book.description }}</p>
                <div
                  *ngIf="book.isbn === 'out of stock'"
                  [ngClass]="['out-of-stock']"
                >
                  <p>{{ book.isbn.toUpperCase() }}</p>
                </div>
                <p *ngIf="book.price">${{ book.price }}</p>
                <button
                  mat-stroked-button
                  [disabled]="book.isbn === 'out of stock'"
                  (click)="loadPurchasePage(book)"
                >
                  purchase
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
