main {
  margin-top: 3rem;
}

.book-card-container {
  display: flex;
  gap: 5rem;
}

.book-card ul {
  flex-shrink: 0;
}

/* .book-card img {
  max-width: 20%;
  flex-shrink: 0;
} */

.book-card img {
  /* min-width: 40%; */
  object-fit: contain;
  flex-shrink: 0;
}

.out-of-stock {
  color: red;
  font-weight: bold;
  margin: 1rem;
}
