<main>
  <div class="title-ele">
    <h2>{{ authorFirstName }} {{ authorLastName }}</h2>
  </div>
  <div class="bio-ele">
    <p>{{ authorBio }}</p>
  </div>
  <div class="author-books-text">
    <h3>From the Flood Editions catalogue:</h3>
  </div>
  <div class="book-card-container">
    <div *ngFor="let book of booksByAuthor">
      <div class="book-card">
        <ul>
          <li>
            <div class="book-card">
              <img
                src="{{ book.coverImageUrl }}"
                alt="cover image of book dynamically generated"
              />
              <div class="overlay">
                <p>{{ book.title }}</p>
                <button mat-stroked-button (click)="showFeaturedBook(book)">
                  -more info-
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
