<main>
  <p>
    Flood Editions is distributed by Wesleyan University Press and HFS Books. In
    the United States: HFS Books [link to: web address] Telephone: 800-537-5487
    FAX: 410-516-6998
    <!-- Email: hfscustserv@press.jhu.edu Mailing Address: -->
    HFS P.O. Box 50370 Baltimore, MD 21211-4370 In Canada: University of Toronto
    Press [link to: utpdistribution.com ] Telephone: 800-565-9523 / 416-667-7791
    Fax: 800-221-9985 / 416-667-7832
    <!-- Email: utpbooks@utpress.utoronto.ca Mailing Address: -->
    University of Toronto Press Distribution Division 5201 Dufferin Street
    Toronto, ON M3H 5T8 Our books are regularly stocked at the following
    independent bookstores: ILLINOIS The Seminary Co-op
    [https://www.semcoop.com] in Chicago NEW YORK Taylor & Co. Books
    [https://www.taylorcobooks.com] in Brooklyn WISCONSIN Woodland Pattern Book
    Center [https://woodlandpattern.org] in Milwaukee More to come...
  </p>
</main>
