<main>
  <article>
    <p>
      Flood Editions is distributed by Wesleyan University Press and HFS Books.
    </p>
    <p>In the United States:</p>
    <address>
      <a href="https://www.hfsbooks.com">HFS Books</a><br />
      Telephone: <a href="tel:800-537-5487">800-537-5487</a><br />
      Fax: 410-516-6998<br />
      HFS P.O. Box 50370<br />
      Baltimore, MD 21211-4370
    </address>
    In Canada:
    <address>
      <a href="https://www.utpdistribution.com">University of Toronto Press</a
      ><br />
      Telephone: <a href="tel:800-565-9523">800-565-9523</a> /
      <a href="tel:416-667-7791">416-667-7791</a><br />
      Fax: <a href="fax:800-221-9985">800-221-9985</a> /
      <a href="fax:416-667-7832">416-667-7832</a><br />
      University of Toronto Press Distribution Division<br />
      5201 Dufferin Street<br />
      Toronto, ON M3H 5T8
    </address>
    Our books are regularly stocked at the following independent bookstores:
    <ul>
      <li>
        ILLINOIS: <a href="https://www.semcoop.com">The Seminary Co-op</a> in
        Chicago
      </li>
      <li>
        NEW YORK:
        <a href="https://www.taylorcobooks.com">Taylor & Co. Books</a> in
        Brooklyn
      </li>
      <li>
        WISCONSIN:
        <a href="https://woodlandpattern.org">Woodland Pattern Book Center</a>
        in Milwaukee
      </li>
    </ul>
    More to come...
  </article>
</main>
