@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
  font-family: monospace;
}

.mat-menu-panel-2 {
  margin-top: 50px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: monospace; */
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

img {
  display: block;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 1px rgba(188, 187, 187, 0.5);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.5rem;
}

main {
  padding: 1rem;
}
