.form-container,
.add-author-container,
.update-author-container,
.delete-author-container,
.toggle-new-container,
.update-book-container,
.delete-book-container,
.add-image-container,
.add-event-container,
.delete-event-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

input {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  min-height: 3rem;
  padding: 0.5rem;
}

#selector {
  margin-bottom: 2rem;
}

label {
  margin-top: 1rem;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
}
