<div class="form-container">
  <div class="form-title">
    <h2>add book</h2>
  </div>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="title" placeholder="title" />
    <input
      type="text"
      formControlName="description"
      placeholder="description"
    />
    <input type="text" formControlName="isbn" placeholder="isbn" />
    <input type="text" formControlName="price" placeholder="price" />
    <input type="text" formControlName="buyUrl" placeholder="purchase url" />
    <label for="author" name="author">author</label>
    <select id="selector" formControlName="authorId">
      <option *ngFor="let author of authors" [value]="author.id">
        {{ author.lastName }}, {{ author.firstName }}
      </option>
    </select>

    <input
      type="text"
      formControlName="coverImageUrl"
      placeholder="coverImageUrl"
    />
    <button type="submit">Submit Book Addition</button>
  </form>
</div>

<!-- <div class="add-image-form-container">
  <form [formGroup]="imageForm" (ngSubmit)="onImageSubmitted">
    <label for="coverImage">upload cover image</label>
    <input type="file" id="coverImage" (change)="onFileSelected($event)" />
  </form>
  <button type="submit">Submit</button>
</div> -->

<div class="update-book-container">
  <div class="form-title">
    <h2>update book</h2>
  </div>
  <form [formGroup]="updateBookForm" (ngSubmit)="onUpdateBook()">
    <label for="book" name="book">book</label>
    <select id="selector" formControlName="id">
      <option *ngFor="let book of books" [value]="book.id">
        {{ book.title }}
      </option>
    </select>
    <input type="text" formControlName="title" placeholder="title" />
    <input
      type="text"
      formControlName="description"
      placeholder="description"
    />
    <input type="text" formControlName="isbn" placeholder="isbn" />
    <input type="text" formControlName="price" placeholder="price" />
    <input type="text" formControlName="buyUrl" placeholder="purchase url" />
    <label for="author" name="author">author</label>
    <select id="selector" formControlName="authorId">
      <option *ngFor="let author of authors" [value]="author.id">
        {{ author.lastName }}, {{ author.firstName }}
      </option>
    </select>
    <input
      type="text"
      formControlName="coverImageUrl"
      placeholder="coverImageUrl"
    />

    <button type="submit">Submit Book Update</button>
  </form>
</div>
<div>
  <div class="toggle-new-container">
    <div class="form-title">
      <h2>manage new</h2>
    </div>
    <form [formGroup]="newForm" (ngSubmit)="onToggleNew()">
      <select id="bookSelector" formControlName="selectedBook">
        <option *ngFor="let book of books" [value]="book.id">
          {{ book.title }}
        </option>
      </select>

      <select id="booleanSelector" formControlName="isNew">
        <option [value]="true">New</option>
        <option [value]="false">Not New</option>
      </select>

      <button type="submit">Submit</button>
    </form>
  </div>

  <!-- delete book -->
  <div class="delete-book-container">
    <div class="form-title">
      <h2>delete book</h2>
    </div>
    <form [formGroup]="deleteBookForm" (ngSubmit)="onDeleteBook()">
      <label for="book" name="book">book</label>
      <select id="selector" formControlName="id">
        <option *ngFor="let book of books" [value]="book.id">
          {{ book.title }}
        </option>
      </select>
      <button class="delete-btn" type="submit">Delete</button>
    </form>

    <div class="add-author-container">
      <div class="form-title">
        <h2>add author</h2>
      </div>
      <form [formGroup]="authorForm" (ngSubmit)="onSubmitAuthor()">
        <input
          type="text"
          formControlName="firstName"
          placeholder="first name"
        />
        <input type="text" formControlName="lastName" placeholder="last name" />
        <input type="text" formControlName="bio" placeholder="bio" />
        <button type="submit">Submit Author</button>
      </form>
    </div>

    <div class="update-author-container">
      <div class="form-title">
        <h2>update author</h2>
      </div>
      <form [formGroup]="updateAuthorForm" (ngSubmit)="onUpdateAuthor()">
        <label for="author" name="author">author</label>
        <select id="selector" formControlName="authorId">
          <option *ngFor="let author of authors" [value]="author.id">
            {{ author.lastName }}, {{ author.firstName }}
          </option>
        </select>
        <input
          type="text"
          formControlName="firstName"
          placeholder="first name"
        />
        <input type="text" formControlName="lastName" placeholder="last name" />
        <input type="text" formControlName="bio" placeholder="bio" />
        <button type="submit">Submit Author Update</button>
      </form>
      <!-- delete author -->
      <div class="delete-author-container">
        <div class="form-title">
          <h2>delete author</h2>
        </div>
        <form [formGroup]="deleteAuthorForm" (ngSubmit)="onDeleteAuthor()">
          <label for="author" name="author">author</label>
          <select id="selector" formControlName="authorId">
            <option *ngFor="let author of authors" [value]="author.id">
              {{ author.lastName }}, {{ author.firstName }}
            </option>
          </select>
          <button class="delete-btn" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
